@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body {
  background-color: #0b4443;
  color: #fff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
  padding: 0;
}

button.btn {
  background-image: linear-gradient(to right,#e052a0,#f15c41);
  border: none;
}

button.btn:hover {
  background-image: linear-gradient(to right,#20bf55,#01baef);
}

#root {
  display: flex;
  justify-content: center;
}